.line {
  margin-top: 80px;
  border: 3px solid #0d4e63;
  width: 85%;
}
.bonnie-items {
  width: 75%;
  margin: 70px auto;
}
.bonnie-item {
  margin: 60px 0;
  display: flex;
}
.image_wrapper {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.information-item {
  margin: auto 30px;
}
.item {
  margin: 25px 0;
  font-size: 18px;
}
.email_link {
  text-decoration: none;
  color: #1b1bf5;
}
