@import "fonts.scss";
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
body {
  width: 100%;
  overflow-y: scroll;
  position: relative;
}
.region-content {
  margin-bottom: 100px;
}
div[data-drupal-messages=""] {
  display: none;
}
