@import "fonts.scss";
html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}
body {
  width: 100%;
  overflow-y: scroll;
}
.page {
  height: 100%;
  position: relative;
}
main {
  min-height: 100%;
}
div[data-drupal-messages=""] {
  display: none;
}
