footer {
  background-color: #01222d;
  width: 100%;
  padding: 70px;
  margin: 0;
  position: absolute;
  bottom: 0;
  .block-system-powered-by-block {
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    span {
      color: aliceblue;
      font-size: 24px;
      a {
        font-size: 24px;
        color: #1040ff;
        text-decoration: none;
      }
    }
  }

}
