@import "fonts.scss";
header {
  background-color: #0d4e63;
  padding: 85px 0 10px;
}
.region-logo .field__item p {
  color: aliceblue;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  border: 0 solid black;
  width: 150px;
  margin: 0 auto;
  padding: 15px 5px;
  box-shadow: 0 0 100px 9px;
}
