<div class="page">
  <header role="banner">

    {{ page.header }}

    {{ page.logo }}

    {{ page.primary_menu }}

  </header>
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </main>
</div>
