@import "_variables.scss";
.block-page-title-block h1 {
  text-align: center;
  margin: 40px 0 20px;
}
.bonnie-form {
  width: 75%;
  margin: 100px auto 0;
  position: relative;
  .button {
    padding: 8px 13px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 40px 0 10px;
    font-weight: 500;
    border: 1px solid $blue;
    background-color: $blue;
    color: aliceblue;
    border-radius: 5px;
  }
}
.form-item-name {
  margin: 60px 0 20px;
  display: flex;
  label {
    font-size: 18px;
    margin: auto 0;
  }
  input {
    height: 40px;
    width: 180px;
    padding: 5px 15px;
    margin-left: 40px;
    border: 1px solid black;
    border-radius: 3px;
  }
  input submit {
    padding: 10px;
  }
}

.form-item-email {
  margin: 10px 0 0;
  display: flex;
  label {
    font-size: 18px;
    margin: auto 0;
  }
  input {
    height: 40px;
    width: 450px;
    padding: 5px 15px;
    margin-left: 33px;
    border: 1px solid black;
    border-radius: 3px;
  }
}
.form-item-image {
  margin: 50px 0 0;
  position: relative;
  label {
    font-size: 18px;
  }
  .form-file {
    margin-top: 40px;
  }
  .description {
    position: absolute;
    top: 30px;
    left: 2px;
  }
}
div[data-drupal-messages=""] {
  display: none;
}
